{ 
"presets": ["env", "react",  "es2015", "stage-0" ],
"plugins": ["transform-runtime", "transform-async-to-generator", "transform-class-properties", "transform-regenerator", "syntax-async-functions"] 
}